.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.3s linear;
  opacity: 0;
  .selected {
    background: rgb(222, 222, 255);
  }
  &.open {
    transform: translateX(0);
    opacity: 1;
  }
  &__song {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    h3,
    h4 {
      padding: 0.4em;
    }
    h4 {
      font-size: 0.8rem;
    }
    img {
      width: 40%;
    }
    &__description {
      padding: 1em;
    }

    &:hover {
      background: rgb(222, 222, 255);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
