.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  button {
    h2 {
      color: rgb(39, 39, 39);
    }
    border: 2px solid rgb(39, 39, 39);
    padding: 0.8em 1em;
    color: currentColor;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s ease;
    &:hover {
      border: 2px solid rgb(39, 39, 39);
      background: rgb(39, 39, 39);
      color: #fff;
      padding: 0.8em 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  button {
    z-index: 1000;
  }
}
