.player-container {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .time-control {
    width: 50%;
    display: flex;
    padding: 1em;
    align-items: center;
    input {
      -webkit-appearance: none;
      flex-grow: 1;
      background: transparent;
      width: 100%;
      cursor: pointer;
    }
  }
  .player-control {
    width: 30%;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    svg {
      cursor: pointer;
      color: #646464;
    }
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

.track {
  border-radius: 0.8em;
  width: 100%;
  position: relative;
  background: crimson;
  overflow: hidden;
  height: 0.8rem;
  margin: 0 0.8rem;
  &__animated {
    background: rgb(194, 190, 190);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(10%);
    pointer-events: none;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 60% !important;
  }
  .player-control {
    width: 55% !important;
  }
}
